

#wrapper{
	position:relative;
	margin: 0 auto;

}

#game{
	background:url('../images/kitty_bg.jpg');
	display:block;
	position:absolute;
	z-index:1;
	/*background-size: cover;*/
}

#start,#game-over,#pause{
	background: none repeat scroll 0% 0% rgba(255,255,255, 0.8);
	position: absolute;
	z-index:2;
	color:black;
}

#start{
	color:black;


}

#start p, #start ol{
	padding: 10px 40px;
}

#game-over{
	visibility:hidden;
}

#pause{
	visibility: hidden;
}

.butt{

	padding: 11px 23px;
	text-decoration: none;
	color: black;

	font-size: 16px;
}

.butt-good{
	background: rgb(86, 209, 204);
	border: 1px solid rgb(4, 180, 173);
}

.butt-exit{
	background: rgb(238, 117, 117);
	border: 1px solid rgb(187, 58, 58);
}

.invisible{
	visibility: hidden !important;
}

.visible{
	visibility: visible !important;
}
.wrapper-hr{
	padding: 50px 76px 0px 90px;
}
.wrapper-xs{
	padding: 0 190px;
}
.rt-butt{
	right: 130px;
	position: absolute;
}
.lt-butt{
	position: absolute;
	left: 130px;
}
.txt-center{
	text-align: center;
}
.center-blk {
	margin: 0 auto;
	display: block;
}
.wd-100{
	width:100px;
}
p{
	font-size:16px;
}
.float-lt{
	float:left;
}
.float-rt{
	float:right;
}
/*#menu{
	position:absolute;
	display:block;
	z-index:2;
	background: rgba(0,0,0,.5);
}*/
